<h3>Профиль</h3>

Email: <%= current_user.email %>
<br>
Количество карточек: <%= current_user.cards.count %>
<br>
Количество колод: <%= current_user.decks.count %>
<br>
<%= link_to "Редактировать", edit_profile_path, class: "btn btn-default" %>
